--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO postgres;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO postgres;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO postgres;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: enigme; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enigme (
    id integer NOT NULL,
    saisie boolean,
    question text,
    reponse text
);


ALTER TABLE public.enigme OWNER TO postgres;

--
-- Name: enigme_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.enigme_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enigme_id_seq OWNER TO postgres;

--
-- Name: enigme_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.enigme_id_seq OWNED BY public.enigme.id;


--
-- Name: objet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.objet (
    id integer NOT NULL,
    nom text,
    indice text,
    image text,
    min_zoom integer,
    depart boolean,
    obj_apres integer,
    code boolean,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.objet OWNER TO postgres;

--
-- Name: score; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.score (
    id integer NOT NULL,
    nom text,
    temps time without time zone
);


ALTER TABLE public.score OWNER TO postgres;

--
-- Name: score_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.score_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.score_id_seq OWNER TO postgres;

--
-- Name: score_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.score_id_seq OWNED BY public.score.id;


--
-- Name: enigme id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enigme ALTER COLUMN id SET DEFAULT nextval('public.enigme_id_seq'::regclass);


--
-- Name: score id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.score ALTER COLUMN id SET DEFAULT nextval('public.score_id_seq'::regclass);


--
-- Data for Name: enigme; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.enigme VALUES (1, true, 'Le coffre est verouill├® mais le mot de passe pour l''ouvrir est le nom du mus├®e dans lequel tu te trouves :', 'Le Louvre;Louvre');
INSERT INTO public.enigme VALUES (7, true, 'Le coffre est verouill├® par le code ├á 4 chiffres que tu viens de r├®cup├®rer :', '0369');
INSERT INTO public.enigme VALUES (5, false, NULL, '0;2;3;4');


--
-- Data for Name: objet; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.objet VALUES (0, 'Pierre du Temps', 'Rendez-vous au mus├®e rendant l''architecture ├®gyptienne moderne.', 'pierre_temps.jpg', 18, true, 1, false, '0101000020E610000024F359F2D7CC024043D635B7366D4840');
INSERT INTO public.objet VALUES (1, 'Coffre au mot de passe', NULL, 'coffre.png', 18, false, 2, true, '0101000020E6100000171BDA628BB3024050762BFE2F6E4840');
INSERT INTO public.objet VALUES (2, 'Pierre de l''Espace', 'La prochaine pierre se trouve ├á un des points le plus de Paris.', 'pierre_espace.jpg', 18, false, 3, false, '0101000020E6100000171BDA628BB3024050762BFE2F6E4840');


--
-- Data for Name: score; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.score VALUES (1, 'Jules', '00:01:12');
INSERT INTO public.score VALUES (2, 'Math├®o', '00:01:07');


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: postgres
--



--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: postgres
--



--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: postgres
--



--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: postgres
--



--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: postgres
--



--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: postgres
--



--
-- Name: enigme_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.enigme_id_seq', 1, false);


--
-- Name: score_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.score_id_seq', 2, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: postgres
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: enigme enigme_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enigme
    ADD CONSTRAINT enigme_pkey PRIMARY KEY (id);


--
-- Name: objet objet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objet
    ADD CONSTRAINT objet_pkey PRIMARY KEY (id);


--
-- Name: score score_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.score
    ADD CONSTRAINT score_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

