body {
    margin: 0;
}

#fin {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1; 
}

#message {
    height: 40vh;
    width: 30vw;
    background-color: #dda15e;
    border-radius: 10px;
}

#jeu {
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: auto 10vh;
}

#map {
    grid-column: 1;
    grid-row: 1;
    height: 90vh;
    margin: 0;
    z-index: 0;
    border: 2px solid #bc6c25;
}

#quete {
    grid-column: 1;
    grid-row: 2;
    background-color: #dda15e;
    border: 2px solid #bc6c25;
    color: #bc6c25;
    padding-left: 30px;
    font-weight: 500;
}

#quete h4 {
    font-weight: 700;
}

#inventaire {
    grid-column: 2;
    grid-row: 1 / span 2;
    background-color: #dda15e;
    border: 2px solid #bc6c25;
}

#temps {
    text-align: center;
    color: #bc6c25;
    font-weight: 700;
    margin-bottom: 0;
}

#pseudo{
    margin-top: 0;
    text-align: center;
    color: #bc6c25;
    font-weight: 700;
}


#liste {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
    gap : 20px;
    margin-top: 10px;
}

.objets {
    display: grid;
    grid-template-rows: 50px 120px;
    height: 180px;
    width: 120px;
    margin: auto;
    border: 3px solid #bc6c25;
    padding: 0 5px 5px 5px;
}

.objets p{
    margin: 0;
    text-align: center;
    color: #bc6c25;
    font-weight: 700;
}

.objets #selectionné{
    color: #fefae0;
    margin: 0;
    text-align: center;
    font-weight: 700;
}

.objets img {
    height: 100%;
    width: 100%;
}